<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCC Clinical Radiomics Algorithm App</title>
</head>
<body>
    <h1>RCC Clinical Radiomics Algorithm App</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <label for="ct">Upload CT Image:</label>
        <input type="file" id="ct" name="ct">
        <br>
        <label for="seg">Upload Segmentation Mask:</label>
        <input type="file" id="seg" name="seg">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
